@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: hsl(0, 0%, 100%);
  font-family: "Inter", sans-serif;
  /* Weights: 400, 600, 700 */
}

#container {
  width: 100vw;
  height: 100vh;
  background-color: hsl(0, 0%, 8%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 32px;
  border-radius: 10px;
  background-color: hsl(0, 0%, 12%);
}

img {
  width: 70px;
  border-radius: 50%;
  margin-bottom: 20px;
}

h2 {
  font-weight: 600;
  margin-bottom: 5px;
}

h4 {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 500;
  color: hsl(75, 94%, 57%);
}

p {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 20px;
}

nav {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  /* width: 100%; */
  gap: 10px;
}

nav a {
  text-decoration: none;
  background-color: hsl(0, 0%, 20%);
  padding: 15px 90px;
  border-radius: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  transition: 0.3s all ease;
}

nav a:hover {
  background-color: hsl(75, 94%, 57%);
  color: hsl(0, 0%, 12%);
}
